.item {
  margin: 5rem;
}

.image {
  width: 100%;
  height: 20rem;
  overflow: hidden;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.image img {
  width: 100%;
  height: 25rem;

  object-fit: cover;
}

.content {
  text-align: center;
  padding: 1rem;
  color: #ddd;
}

.content h3 {
  font-size: 1.25rem;
  padding: 2rem;
}

.actions {
  padding: 1.5rem;
  text-align: center;
}

.actions button {
  width: 15rem;
  padding: 1.5rem 1rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #b85d1c;
  background-color: transparent;
  border: 0.1rem solid #b85d1c;
  border-radius: 10rem;
  outline: none;
  cursor: pointer;
}
